h1{
    Font-weight: bold;
    Color:#6166A2  ;

}

.tamaño{
    font-size: 24px;
}

.encabezado{
    Color:#999FEB  ;

}

.parrafo1{
    Font-family: “Century Gothic”;
    Font-weight: italic;
    Color:#4d083b ;
    font-size: 24px;


}

.footer{

    text-align:center;
    background-color:#341A70 ;
}

.parrafo2{
    Font-family: “Franklin Gothic Medium”;
    Font-weight: lighter;
    Color:#430ead ;
    font-size: 24px;

}

.parrafo3{
    Font-family: "Comic Sans MS";
    font-weight: inherit;
    color:#6F0691 ;
    

}



html {
    background: url(img/universef.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


#navegador ul{
list-style: none;
text-align: center;
}
#navegador li{
    display: inline;
    text-align: center;
    margin: 0 10px 0 0;
}
#navegador li a{
    padding: 2px 7px 2px 7px;
    color:#17010E;
    background-color: #AB4EC9;
    border: 1px solid rgb(240, 152, 225);
    text-decoration: none;
}

#declaracion{
    font-size: 24px;


}