h1{
    Font-weight: bold;
    Color:#0f0209  ;
    font-size: 40px;

    

}

.banner{

    height: 700px;
}

#navegador{
    list-style: none;
    text-align: center;
    }
    #navegador li{
        display: inline;
        text-align: center;
        margin: 0 60px 0 0;
    }
    #navegador li {
        padding: 10px 20px 10px 20px;
        color:#000000;
        background-color: #AB4EC9;
        border: 1px solid rgb(240, 152, 225);
        text-decoration: none;
    }
    

.universe{
    
    font-size: 35px;
}

.p1{
    font-size: 24px;
    Font-family:cursive;
    
}


.p1h2{
    Font-family: “Century Gothic”;
    Color:#000000;
    Font-weight: bold;
    font-size: 28px;

}

.p2h2{
    Font-family: “Century Gothic”;
    Color:#000000;
    Font-weight: bold;
    font-size: 28px;

}

.p1p1{
    
    Font-family: “Century Gothic”;
    Font-weight:bold;
    Color:#000000 ;
    font-size: 24px;


}

.p2p2{
    
    Font-family: “Century Gothic”;
    Font-weight:bold;
    Color:#000000 ;
    font-size: 24px;
}

.footer{
    Font-family:fantasy;
    text-align:center;
    background-color:gba(255,0,0,0.2) ;
    font-size: 25px;
    
}



.p3p2{
    Font-family:"Century Gothic" ;
    color:#0a030c ;
    font-size: 20px;
    Font-weight: italic;
    

}



html {
    background: url(img/universo3.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}



#declaracion{
    font-size: 24px;


}

.ima1{
    margin:10px auto;
    display:block;
}

.ima2{
    margin:10px auto;
    display:block;
}

.ima3{
    margin:10px auto;
    display:block;
}


.video{
    margin:10px auto;
    display:block;

}